In [9]:
import sqlite3

In [10]:
conn = sqlite3.connect('mai.sqlite3')

In [11]:
c = conn.cursor()

In [21]:
s='afasfasf'
s[:100]

'afasfasf'

In [5]:
create_users_table = """
CREATE TABLE users (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    username TEXT NOT NULL UNIQUE,
    email TEXT NOT NULL UNIQUE,
    password TEXT NOT NULL
);
"""

create_creation_table = """
CREATE TABLE creations (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    user_id INTEGER,
    type TEXT NOT NULL,
    content TEXT NOT NULL
);
"""


# Execute SQL commands to create tables
c.execute(create_users_table)
c.execute(create_creation_table)

# Commit the changes and close the connection
conn.commit()
conn.close()

ProgrammingError: Cannot operate on a closed database.

In [16]:
import sqlite3
import random
import string

# ËøûÊé•Âà∞SQLiteÊï∞ÊçÆÂ∫ì
conn = sqlite3.connect('mai.sqlite3')
c = conn.cursor()

# ÂÅáËÆæ user_ids ÊòØ‰ªéÁé∞ÊúâÁöÑ users Ë°®‰∏≠Ëé∑ÂèñÁöÑ
# ËøôÈáå‰∏∫‰∫ÜÊºîÁ§∫ÔºåÂÅáËÆæÁî®Êà∑ ID ÊòØ 1, 2 Âíå 3
user_ids = [1, 2, 3]

# ÁîüÊàêÈöèÊú∫ÂÜÖÂÆπ
def random_string(length=50):
    letters = string.ascii_letters + string.digits
    return ''.join(random.choice(letters) for i in range(length))

# ÊèíÂÖ•ÈöèÊú∫ÁöÑ creations Êï∞ÊçÆ
creation_data = []
for _ in range(10):  # ÊèíÂÖ• 10 Êù°Êï∞ÊçÆ
    user_id = random.choice(user_ids)
    type = random.choice(['text', 'image', 'video'])
    content = random_string()
    creation_data.append((user_id, type, content))

# ÊâßË°åÊèíÂÖ•Êìç‰Ωú
for creation in creation_data:
    c.execute('INSERT INTO creations (user_id, type, content) VALUES (?, ?, ?)', creation)

# ÊâìÂç∞ÊèíÂÖ•ÁöÑÊï∞ÊçÆ‰ª•È™åËØÅ
c.execute('SELECT * FROM creations')
rows = c.fetchall()
for row in rows:
    print(row)

# Êèê‰∫§Êõ¥ÊîπÂπ∂ÂÖ≥Èó≠ËøûÊé•
conn.commit()
conn.close()

(1, 3, 'text', 'eXHaz0izcU4C7pRkOA4hZ4Z06eOzOJZqex0hIFrPBepRhdUDa1')
(2, 3, 'video', '91PigpIcSBZALVzLluDm79Vd3gHIGCVCDwFrjV1z1xuOHT85JM')
(3, 1, 'image', 'DHQUD99Zn10N583SvVIgibT9R9XTBtsMB2AISBrET9EwxeIWsR')
(4, 1, 'video', 'JxCyRcfT9Xv7qRopNdMtfEl0ZeQGRhGbCFVqbLcpYPOPPh2wEG')
(5, 2, 'image', 'Xgcs6r56pCJAzgjLZdsewvdB9CPix4Obwm4slDAA6NBTknLxwY')
(6, 2, 'image', 'Drrj13oeToYUrxm1vQlSchzgpBGFNr8DKvzT9s5o80NzHHjmfx')
(7, 1, 'video', 'SMDejTZSNctQyTJzq1pm6X5CwvwUbX9uHzhxSNQA6r47JVc2y1')
(8, 1, 'image', 'Ir9NAS5kREimHicN7DONFIToI1cpPGTp2KB3y8XVxAdrw76rjN')
(9, 1, 'text', 'tHGrAMMbYhUwRHAG9W1bzHeVwKPJ1Qixvt3ooUGE0YLr0amzqJ')
(10, 2, 'video', 'jmx3fWwNZCCZhlzSEfmZFDq1B72xZ6t1xnhjdBAYy75qJIVmEu')
(11, 3, 'image', 'XeI0ZEU8sN34XXjX6jy75E2PwoVWSVngClzIwfmgyHRPNYmuMs')
(12, 2, 'text', 'bV4WLyoBE7hGY6GNg1SjQYt9vm8WqqvNIL3z8lUEN6sdWOsQlv')
(13, 3, 'image', 'jfepkUWDPgHqJURnadAIAMSLW3mo6dIbUJiK8H6L7B66Pj5GKg')
(14, 1, 'text', 'wwN5qNIDht6o39QBbmEgqR4OfPlqFqszNVsueyENF9Icec3CtD')
(15, 1, 'image', 'Avw6cWV6QLtSg3I3679Ota9YoQCF0MIScbRYFIiGhERuXod5W4')
(16, 2, 'video', 'pfm2JGjFYRRdroOBsYaahk6Q2nL5duAp2g4rVzoA0NLeOfJ3Bw')
(17, 1, 'video', 'EDjPMsC8rT2SgqVJXiQIiLNsfEI3LdqydYsUNjPvxoc5brRIBx')
(18, 2, 'video', 'W8IW065HaFMXH00KiYRvuflTDiwPJlxClOCQPQILl6KCNKItTm')
(19, 2, 'video', 'lsIwCMnAwcAypiJEPBA1j8T6OHuSuzTuvIEdpblzolzHGYAHGk')
(20, 2, 'video', 'dzQ19UaSWI252p970kJwM31jfI8bMUQTIU24rm2PPIvJSsDh2i')

In [20]:
conn = sqlite3.connect('mai.sqlite3')
c = conn.cursor()
c.execute('SELECT * FROM creations')
rows = c.fetchall()
for row in rows:
    print(row)

# Êèê‰∫§Êõ¥ÊîπÂπ∂ÂÖ≥Èó≠ËøûÊé•
conn.commit()
conn.close()

(1, 3, 'text', 'eXHaz0izcU4C7pRkOA4hZ4Z06eOzOJZqex0hIFrPBepRhdUDa1')
(2, 3, 'video', '91PigpIcSBZALVzLluDm79Vd3gHIGCVCDwFrjV1z1xuOHT85JM')
(3, 1, 'image', 'DHQUD99Zn10N583SvVIgibT9R9XTBtsMB2AISBrET9EwxeIWsR')
(4, 1, 'video', 'JxCyRcfT9Xv7qRopNdMtfEl0ZeQGRhGbCFVqbLcpYPOPPh2wEG')
(5, 2, 'image', 'Xgcs6r56pCJAzgjLZdsewvdB9CPix4Obwm4slDAA6NBTknLxwY')
(6, 2, 'image', 'Drrj13oeToYUrxm1vQlSchzgpBGFNr8DKvzT9s5o80NzHHjmfx')
(7, 1, 'video', 'SMDejTZSNctQyTJzq1pm6X5CwvwUbX9uHzhxSNQA6r47JVc2y1')
(8, 1, 'image', 'Ir9NAS5kREimHicN7DONFIToI1cpPGTp2KB3y8XVxAdrw76rjN')
(9, 1, 'text', 'tHGrAMMbYhUwRHAG9W1bzHeVwKPJ1Qixvt3ooUGE0YLr0amzqJ')
(10, 2, 'video', 'jmx3fWwNZCCZhlzSEfmZFDq1B72xZ6t1xnhjdBAYy75qJIVmEu')
(11, 3, 'image', 'XeI0ZEU8sN34XXjX6jy75E2PwoVWSVngClzIwfmgyHRPNYmuMs')
(12, 2, 'text', 'bV4WLyoBE7hGY6GNg1SjQYt9vm8WqqvNIL3z8lUEN6sdWOsQlv')
(13, 3, 'image', 'jfepkUWDPgHqJURnadAIAMSLW3mo6dIbUJiK8H6L7B66Pj5GKg')
(14, 1, 'text', 'wwN5qNIDht6o39QBbmEgqR4OfPlqFqszNVsueyENF9Icec3CtD')
(15, 1, 'image', 'Avw6cWV6QLtSg3I3679Ota9YoQCF0MIScbRYFIiGhERuXod5W4')
(16, 2, 'video', 'pfm2JGjFYRRdroOBsYaahk6Q2nL5duAp2g4rVzoA0NLeOfJ3Bw')
(17, 1, 'video', 'EDjPMsC8rT2SgqVJXiQIiLNsfEI3LdqydYsUNjPvxoc5brRIBx')
(18, 2, 'video', 'W8IW065HaFMXH00KiYRvuflTDiwPJlxClOCQPQILl6KCNKItTm')
(19, 2, 'video', 'lsIwCMnAwcAypiJEPBA1j8T6OHuSuzTuvIEdpblzolzHGYAHGk')
(20, 2, 'video', 'dzQ19UaSWI252p970kJwM31jfI8bMUQTIU24rm2PPIvJSsDh2i')
(21, 1, 'text', 'Introducing our latest line of eco-friendly cosmetics! üåøüê∞ Discover biodegradable packaging, cruelty-free testing, and all-natural ingredients. Join young adults passionate about sustainable living today! #EcoFriendly #GreenBeauty')

In [5]:
create_users_table = """
CREATE TABLE users (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    username TEXT NOT NULL UNIQUE,
    email TEXT NOT NULL UNIQUE,
    password TEXT NOT NULL
);
"""

create_creation_table = """
CREATE TABLE creations (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    user_id INTEGER,
    type TEXT NOT NULL,
    content TEXT NOT NULL
);
"""


# Execute SQL commands to create tables
c.execute(create_users_table)
c.execute(create_creation_table)

# Commit the changes and close the connection
conn.commit()
conn.close()

ProgrammingError: Cannot operate on a closed database.

In [14]:
c.execute('SELECT * FROM creations')
rows = c.fetchall()

# ÊâìÂç∞Êü•ËØ¢ÁªìÊûú
for row in rows:
    print(row)

In [10]:
conn.close()

In [ ]:
[{'id': 1, 'user_id': 1, 'type': 'text', 'content': 'Introducing our latest line of eco-friendly cosmetics! üåøüê∞ Discover biodegradable packaging, cruelty-free testing, and all-natural ingredients. Join young adults passionate about sustainable living today! #EcoFriendly #GreenBeauty'}]

In [ ]:

create_messages_table = """
CREATE TABLE messages (
  id INTEGER PRIMARY KEY,
  user_id INTEGER,
  room_id INTEGER,
  send_time DATETIME,
  body TEXT,
  FOREIGN KEY(user_id) REFERENCES users(id),
  FOREIGN KEY(room_id) REFERENCES rooms(id)
);
"""

create_user_channel_read_status_table = """
CREATE TABLE UserRoomReadStatus (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    user_id INTEGER NOT NULL,
    room_id INTEGER NOT NULL,
    last_read_timestamp DATETIME NOT NULL,
    FOREIGN KEY (user_id) REFERENCES users(id),
    FOREIGN KEY (room_id) REFERENCES rooms(id),
    UNIQUE (user_id, room_id) ON CONFLICT REPLACE
);
"""

create_replies_table = """
CREATE TABLE replies (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    message_id INTEGER,
    user_id INTEGER,
    body TEXT,
    send_time DATETIME,
    FOREIGN KEY (message_id) REFERENCES messages(id),
    FOREIGN KEY (user_id) REFERENCES users(id)
);
"""

create_emoji_table = """
CREATE TABLE emoji_reactions (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    reactable_id INTEGER NOT NULL,
    reactable_type TEXT NOT NULL CHECK (reactable_type IN ('message', 'reply')),
    user_id INTEGER,
    user_name TEXT,
    emoji TEXT NOT NULL,
    created_at DATETIME DEFAULT CURRENT_TIMESTAMP,
    FOREIGN KEY (user_id) REFERENCES users(id)
);
"""